.h-300 {
    min-height: 300px;
}

footer {
    min-height: 200px;
    background-color: #3a546d;
}

.bg-green {
    background-color: #1abc9c;
}

.bg-darker {
    background-color: #2c3e50;
}

.bg-dark {
    background-color: #3a546d;
}

.bg-white {
    background-color: white;
}

.text-white {
    color: white;
}

.my-theme-navbar a,
footer .fa {
    color: white;
}

.my-theme-navbar .nav>li>a:hover {
    background-color: #3a546d;
}

.my-theme-navbar .icon-bar {
    background-color: white;
}

.my-theme-navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.my-hero-img-container {
    max-width: 250px;
}

section {
    padding: 30px 0;
}

.my-img-container {
    margin: 15px 0;
}

.btn-green {
    color: white;
    background-color: #1abc9c;
    border-color: white;
}

.btn-green:hover {
    background-color: teal;
    color: white;
}

.my-input {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

footer .fa {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.footer-link {
    color: #1abc9c;
}

.star-line {
    display: inline-block;
    width: 180px;
    height: 3px;
    border-radius: 3px;
}

.star-img {
    margin: 0 20px;
}

@media screen and (max-width: 768px) {
    .star-line {
        width: 70px;
    }
}